%h1= @runner.description

.row
  .col-md-12
    .panel.panel-default
      .panel-heading Select a benchmark
      .panel-body
        %ul
          - @results.each do |result|
            %li= link_to result.benchmark, [@runner, result]
