%h1 Benchmarks

.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        Showing results for
        = @result.benchmark
        which was run using
        = link_to @runner.description, @runner
      .panel-body
        %canvas#chart(height="450" width="1100")

:javascript
  $(function() {
    new RubyBench.LoadResultsChart(#{@runner.id}, #{@result.id}, '#chart').run();
  });
