%h1 Welcome to Ruby Bench
%p Please select a runner and a benchmark to see average scores over time by Ruby version.

.row
  .col-md-12
    .panel.panel-default
      .panel-heading Select a runner
      .panel-body
        %ul
          - @runners.each do |runner|
            %li= link_to runner.description, runner
